<nav id="usernav">
<%=link_to 'See Your Reviews', user_reviews_path(@user) %>
<% if current_user.type == "Mentor" %>
  <p><%=link_to('All appointments', appointments_path)%></p>
  <p><%=link_to('Create appointment', new_appointment_path)%></p>
<% else  %>
  <p><%=link_to('Show available appointments', appointments_path)%></p>
<% end %>
</nav>