
<div id="reviews">
	<div id="received">
		<h4>Feedback</h4>
		<% @feedbacks.each do |feedback| %>
			<div class="rev-blurb">
				Rating: <%= feedback.rating %><br>
				<%= feedback.author.full_name %>: "<%= feedback.body %>"
			</div>
		<% end %>
	</div>

	<div id="written">
		<h4>Your Reviews</h4>
		<%= render @reviews %>
	</div>

</div>