<br><h1>Reviews</h1>
Reviews you have written:<br>
<%= render @reviews %><br>


Reivews you have received:<br><br>
<% @feedbacks.each do |feedback| %>
Rating: <%= feedback.rating %><br>
<%= feedback.body %><br>
<% end %>

